
{%section 'landing_hero' %}
<div class="background1">
{%section 'upcomming_show' %}
{%section 'like_to_have' %}
</div>
{%section 'landing-carousel-section' %}
<div class="background2">
{%section 'landing-bottom-section' %}
</div>


