{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

<div class="parallax-container js-transparent-header-fadein js-after-primary-carousel test">
  {% section 'collection-holiday-favorites-template' %}
</div>
