<div class="rte">
  {% section 'generic-main-one' %}
  {% section 'generic-featured-one' %}
</div>

<script id="livescale-embed" src="https://diva.livescale.tv/shop/embedded-app/embedded-app.js"></script>



