{% assign hover_class = section.settings.collection_style %}
{% assign fit_image_class = 'grid__item--variable-height grid__image' %}

{% case section.settings.featured_products_per_row %}
  {% when "1" %}
    {% assign grid_item_width = "large--one-whole medium--one-whole" %}
  {% when "2" %}
    {% assign grid_item_width = "large--one-half medium--one-half" %}
  {% when "3" %}
    {% assign grid_item_width = "large--one-third medium--one-third" %}
  {% when "4" %}
    {% assign grid_item_width = "large--one-quarter medium--one-quarter" %}
  {% when "5" %}
    {% assign grid_item_width = "large--one-fifth medium--one-fifth" %}
{% endcase %}

{% assign collectionSize = collections[section.settings.featured_products_grid].products | size %}

{% assign leftovers = collectionSize | modulo: section.settings.featured_products_per_row %}
{% assign howManyMore = section.settings.featured_products_per_row | minus: leftovers %}

{% if collectionSize > 0 %}
  <div class="grid--products grid--full grid--featured-products" data-per-row="{{ section.settings.featured_products_per_row }}">
    {% assign productLimit = section.settings.featured_products_per_row | times: 2 %}
    {% for product in collections[section.settings.featured_products_grid].products limit: productLimit %}
      {%- comment %}<locksmith:3326>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[section.settings.featured_products_grid], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
      {%- comment %}</locksmith:3326>{% endcomment -%}
      {% include 'product-grid-item' %}
    {% endfor %}

    {% for i in (1..howManyMore) %}
      <div class="{{ grid_item_width }}"></div>
    {% endfor %}
  </div>
{% else %}
  {% unless emptyState %}
    {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
    {% assign emptyState = true %}
  {% endunless %}

  <div class="grid--full grid--featured-products">
    {% include 'onboarding-featured-products' %}
  </div>
{% endif %}

{% schema %}
  {
    "name": "Featured collection",
    "class": "featured-products",
    "settings": [
      {
        "type": "select",
        "id": "collection_style",
        "label": "Product title \/ price style",
        "options": [
          {
            "value": "grid__image--hover",
            "label": "Display title\/price on hover"
          },
          {
            "value": "grid__image--caption",
            "label": "Always display title\/price"
          }
        ],
        "default": "grid__image--caption"
      },
      {
        "type": "select",
        "id": "featured_products_per_row",
        "label": "Products per row",
        "options": [
          {
            "value": "1",
            "label": "One"
          },
          {
            "value": "2",
            "label": "Two"
          },
          {
            "value": "3",
            "label": "Three"
          },
          {
            "value": "4",
            "label": "Four"
          },
          {
            "value": "5",
            "label": "Five"
          }
        ],
        "default": "3"
      },
      {
        "type": "collection",
        "id": "featured_products_grid",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
