{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Newsletter" section on the Theme Editor.

  Theme Store required settings
  - Heading: title of the newsletter section
{%- endcomment -%}
<script src="{{ 'owl.carousel.min.js' | asset_url }}" defer></script>

<section id="newsletter-section">
  <div class="row">
    <div class="col-12 col-md-9 order-1 order-md-2">
      <div class="carousel-container">
        <div class="nl__carousel__wrap">
          <div class="slide">
            <span class="d-block d-md-none">
            {% include 'responsive-image-aspect-ratio' with
              image: section.settings.carousel_img_1_mobile,
              hero_aspect_ratio: 130,
              max_width: 2000,
              max_height: 2000,
            %}</span>
            <span class="d-none d-md-block">{% include 'responsive-image-aspect-ratio' with
              image: section.settings.carousel_img_1_desktop,
              hero_aspect_ratio: 55,
              max_width: 2000,
              max_height: 2000,
            %}</span>
          </div>
          <div class="slide">
            <span class="d-block d-md-none">{% include 'responsive-image-aspect-ratio' with
              image: section.settings.carousel_img_2_mobile,
              hero_aspect_ratio: 130,
              max_width: 2000,
              max_height: 2000,
            %}</span>
            <span class="d-none d-md-block">{% include 'responsive-image-aspect-ratio' with
              image: section.settings.carousel_img_2_desktop,
              hero_aspect_ratio: 55,
              max_width: 2000,
              max_height: 2000,
            %}</span>
          </div>
          <div class="slide">
            <span class="d-block d-md-none">{% include 'responsive-image-aspect-ratio' with
              image: section.settings.carousel_img_3_mobile,
              hero_aspect_ratio: 130,
              max_width: 2000,
              max_height: 2000,
            %}</span>
            <span class="d-none d-md-block">{% include 'responsive-image-aspect-ratio' with
              image: section.settings.carousel_img_3_desktop,
              hero_aspect_ratio: 55,
              max_width: 2000,
              max_height: 2000,
            %}</span>
          </div>
        </div>
        <div class="slider_nav">
          <button class="customNextBtn">{% include 'icon-chevron-right' %}</button>
          <button class="customPrevBtn">{% include 'icon-chevron-left' %}</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 order-2 order-md-1 align-items-center ">
      <div class="newsletter">
        <div class="row">
        <div class="col-12 text-center text-xl-left">
          <div class="klaviyo-form-KgKgC6"></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Newsletter",
    "settings": [
      {
        "type": "image_picker",
        "id": "carousel_img_1_mobile",
        "label": "First Carousel Image - Mobile"
      },
      {
        "type": "image_picker",
        "id": "carousel_img_2_mobile",
        "label": "Second Carousel Image - Mobile"
      },
      {
        "type": "image_picker",
        "id": "carousel_img_3_mobile",
        "label": "Third Carousel Image - Mobile"
      },
      {
        "type": "image_picker",
        "id": "carousel_img_1_desktop",
        "label": "First Carousel Image - Desktop"
      },
      {
        "type": "image_picker",
        "id": "carousel_img_2_desktop",
        "label": "Second Carousel Image - Desktop"
      },
      {
        "type": "image_picker",
        "id": "carousel_img_3_desktop",
        "label": "Third Carousel Image - Desktop"
      },
      {
        "type": "text",
        "id": "newsletter_title",
        "label": "Heading",
        "default": "Cultivate a Beautiful Life With Us"
      },
      {
        "type": "textarea",
        "id": "newsletter_content",
        "label": "Content",
        "default": "Be the first to hear about new products, events and exclusive content"
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Placeholder Text",
        "default": "Your Email"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "submit"
      },
      {
        "type": "paragraph",
        "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      },
      {
          "id": "confirmation_message",
          "type": "richtext",
          "label": "Confirmation Popup Message",
          "default": "<p>Thank you for signing up for our newsletter!</p>"
      }
    ],
    "presets": [{
      "name": "Newsletter",
      "category": "Promotional"
    }]
  }
{% endschema %}

<script type="lazyload2">
  setTimeout(() => {
    $(document).ready(function() {
      $('.nl__carousel__wrap').addClass('owl-carousel').owlCarousel({
        autoWidth: false,
        dots: false,
        nav: true,
        navText: [$('.customPrevBtn'), $('.customNextBtn')],
        margin: 0,
        dotsEach: 1,
        items: 1,
        loop: true,
        lazyLoad:true
      });
    });
  }, 1000);
</script>
