<div class="LocalizBtn {% if position=="footer" %} LocalizBtnFooter {% endif %}">{% render 'flags', currency_iso: localization.country.currency.iso_code  %}
<span>{{ localization.market.metafields.custom.name}}</span></div>

<style>

</style>