
<div  class="howitsContainer" dir="rtl">
  <div class="howItsDetails">
      <h1>طريقة التحضير </h1>
       <div class="etapes">
        <div class="etape">
          <div class="etapeImage"><img  src="https://cdn.shopify.com/s/files/1/0572/0480/1602/files/marker1.png?v=1710335240"></div>
          <div class="etapeText">المقادير هي 900 مل ماء و 50 جرام من القهوة المحوجة.</div>
        </div>

        <div class="etape">
          <div class="etapeImage"><img  src="https://cdn.shopify.com/s/files/1/0572/0480/1602/files/marker5.png?v=1710335759"></div>
          <div class="etapeText">توضع الدلة على النار بعد إضافة الماء.</div>
        </div>

        <div class="etape">
          <div class="etapeImage"><img  src="https://cdn.shopify.com/s/files/1/0572/0480/1602/files/marker2.png?v=1710335240"></div>
          <div class="etapeText">ننتظر حتى الغليان ثم يتم إضافة القهوة والانتظار لمدة 10 دقائق.</div>
        </div>

        <div class="etape">
          <div class="etapeImage"><img src="https://cdn.shopify.com/s/files/1/0572/0480/1602/files/marker3.png?v=1710335759"></div>
          <div class="etapeText">يتم بعدها تخفيف الحرارة لتصبح هادئة والانتظار لمدة 15 دقيقة.</div>
        </div>

        <div class="etape">
          <div class="etapeImage"><img  src="https://cdn.shopify.com/s/files/1/0572/0480/1602/files/marker4.png?v=1710335760"></div>
          <div class="etapeText">نطفئ النار وننتظر دقيقتين ثم تصبح جاهزة للتقديم.</div>
        </div>
      </div>
  </div>

</div>
<style>
  .etape{
    display:flex;
    padding:6px 20px;
  }
  .howitsContainer{
    padding:25px 4%;
  }
  .etapeImage img{
    width:28px;
    margin-left:8px;
  }
  .etapeText{
    display:flex;
    flex-direction:column;
    justify-content:center;
  }
</style>
{% schema %}
{
  "name": "how its works",
  "settings": [

  ],
  "presets": [
    {
      "name": "how its works"
    }
  ]
}
{% endschema %}
