<div class="Images3">
    <div class="Images31Container">
        <img  class="Images31" src="https://cdn.shopify.com/s/files/1/0572/0480/1602/files/Logo_text_EN.png?v=1709901178">
    </div>
    <div class="Images32Container">
    <img  class="Images32" src="https://cdn.shopify.com/s/files/1/0572/0480/1602/files/logo_2ac0b013-2cc5-4e7e-83de-a8d83a800e8b.png?v=1710071401">
   </div>
   <div class="Images33Container">
    <img  class="Images33" src="https://cdn.shopify.com/s/files/1/0572/0480/1602/files/Logo_Text.png?v=1709900481">
    </div>
</div>
<style>
    .Images3{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        width:100%;
        background-color:#EADDD1;
        padding:0px 10%;
        margin:auto;
        padding-top:25px;
    }
    .Images3 img{
        width:100%;
    }
    .Images31Container{
        width:30%;
        max-width:200px;
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    .Images32Container{
        width:20%;
        max-width:120px;
    }
    .Images33Container{
        width:30%;
        max-width:200px;
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
</style>
{% schema %}
{
  "name": "Images3",
  "settings": [

  ],
  "presets": [
    {
      "name": "Images3"
    }
  ]
}
{% endschema %}
