
<div dir="rtl" class="Text1Container">
 
    <div>&ldquo;
      من هنا تبدأ رحلة و مسيرة في استكشاف العروبة الاصيلة , رحلة تبدأ من نخيل زرع بأراض عربية, يعلوها شاهين يحلق في السماء الزرقاء لأبعد أفاق الصحراء هنا "هيف", و من هنا نروي لكم حكاية عروبة
      &rdquo;</div>
    <img  src="https://cdn.shopify.com/s/files/1/0572/0480/1602/files/Logo_Text.png?v=1709900481">
   <!--<img src="https://cdn.shopify.com/s/files/1/0572/0480/1602/files/background1.png?v=1710070554">-->
</div>
<style>
.Text1Container{
    width:100%;
    padding:10% 2%;
    font-size:40px;
    background-color:#EADDD1;
    color:#441317;
    text-align:center;
    line-height:2;
    font-weight:500;
    position:relative;
    font-family: "Manchette", sans-serif;
}
.Text1Container img{
  width:200px;
}
@media(max-width:900px){
  .Text1Container{
    width:100%;
    padding:5% 10px;
    font-size:22px;
  }
  .Text1Container img{
    width:120px;
  }
}
.Text1Container div{
    width:100%;
    max-width:920px;
    margin:25px auto;
}
</style>
{% schema %}
{
  "name": "text1",
  "settings": [

  ],
  "presets": [
    {
      "name": "TEXT1"
    }
  ]
}
{% endschema %}
