<div dir="rtl" class="product-single__tab-group">
  <div class="tab-1 tab-title" style="display:none">
    <p>
      <span>X</span>التسليم والإرجاع
    </p>
  </div>
  <div class="tab-1 tab-description" style="display:none">
    <div class="product-single__shippingReturns">
      <p class="product-single__info">نهدف إلى إرسال جميع الطلبات في غضون 24 ساعة عمل.</p>
      <div class="shippingReturns-group">
        <h4 class="shippingReturns-title">الإمارات العربية المتحدة</h4>
        <ul class="shippingReturns-ul">
          <li class="shippingReturns-list">
            <img src="https://live.arigatocdn.com/26068fb05ba6d04a18c19754f0a7be7679924fc7/assets/svg/right-arrow-b.svg" alt="Arrow">
            <div>
              <span class="product-single__span-content">شحن مجاني لجميع الطلبات التي تزيد عن 399 درهم إماراتي (بطاقة الائتمان).
                30 درهم للطلبات التي تقل عن 399 درهم. التوصيل في يوم العمل التالي.
              </span>
              <!--               <a target="_blank" rel="noopener noreferrer" class="link" href="/pages/shipping-delivery">Read more on Shipping</a> -->
            </div>
          </li>
        </ul>
      </div>
      <div class="shippingReturns-group">
        <h4 class="shippingReturns-title">المملكة العربية السعودية
        </h4>
        <ul class="shippingReturns-ul">
          <li class="shippingReturns-list">
            <img src="https://live.arigatocdn.com/26068fb05ba6d04a18c19754f0a7be7679924fc7/assets/svg/right-arrow-b.svg" alt="Arrow">
            <div>
              <span class="product-single__span-content">3-4 أيام عمل - 40 درهم (البطاقة الائتمانية).
                يتم دفع جميع الرسوم والضرائب بواسطة Notstitched.
              </span>
              <!--               <a target="_blank" rel="noopener noreferrer" class="link" href="/pages/shipping-delivery">Read more on Returns</a> -->
            </div>
          </li>
        </ul>
      </div>
      <div class="shippingReturns-group">
        <h4 class="shippingReturns-title">جميع دول مجلس التعاون الخليجي الأخرى</h4>
        <ul class="shippingReturns-ul">
          <li class="shippingReturns-list">
            <img src="https://live.arigatocdn.com/26068fb05ba6d04a18c19754f0a7be7679924fc7/assets/svg/right-arrow-b.svg" alt="Arrow">
            <div>
              <span class="product-single__span-content">3-4 أيام عمل - 50 درهم (البطاقة الائتمانية).
                يتم دفع جميع الرسوم والضرائب بواسطة Notstitched.
              </span>
              <!--               <a target="_blank" rel="noopener noreferrer" class="link" href="/pages/shipping-delivery">Read more on Shipping</a> -->
            </div>
          </li>
        </ul>
      </div>
      <div class="shippingReturns-group">
        <h4 class="shippingReturns-title">باقي أنحاء العالم
        </h4>
        <ul class="shippingReturns-ul">
          <li class="shippingReturns-list">
            <img src="https://live.arigatocdn.com/26068fb05ba6d04a18c19754f0a7be7679924fc7/assets/svg/right-arrow-b.svg" alt="Arrow">
            <div>
              <span class="product-single__span-content">التوصيل السريع (البطاقة الائتمانية): 5-7 أيام عمل - 50 درهم
                ما لم يذكر أعلاه ، قد تفرض ضرائب ورسوم على بعض الشحنات الدولية الأخرى في بلد المقصد. الرسوم الجمركية غير قابلة للاسترداد بمجرد تحصيلها.
              </span>
              <!--               <a target="_blank" rel="noopener noreferrer" class="link" href="/pages/shipping-delivery">Read more on Shipping</a> -->
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="tab-2 tab-title" style="display:none">
    <p>
      <span>X</span>
      دليل المقاسات و الإستعمال
    </p>
  </div>
  <div class="tab-2 tab-description">
    <div class="product-single__size-guide">
      <div class="product-single__size content">
        {% render 'size-chart-ar' %}
          <div class="description">القياسات بالبوصة<br><br>
          <!--     Oversized Zip-Up Hoodie (GREY)     -->
          {% if product.tags contains 'Luna' %}
            طول لونا 170 سم /   5'6 ترتدي مقاس S (رمادي) <br>
            طول لونا 170 سم /   5'6 ترتدي مقاس M (كحلي)<br>
            طول نينا 163 سم /  5'4 وترتدي مقاس S (أسود)
          {% endif %}
          {% if product.tags contains 'Pourha' %}
            طول بورها هو   188 /6'2، يرتدي مقاس M (رمادي) (أزرق داكن)<br>
            طول ليفي 180 / 5'9 ، يرتدي مقاس S (أسود)
          {% endif %}
          <!--    Oversized Zip-Up Hoodie Navy Blue     -->
          {% if product.tags contains 'Tosin' %}
            طول توسين 178 سم / 5'8 ، ترتدي مقاس S (كحلي) <br>
            طول نينا 163 سم /  5'4 وترتدي مقاس S (أسود)<br>
            طول لونا 170 سم /   5'6 ترتدي مقاس S (رمادي)
          {% endif %}
          <!--     Oversized Zip-Up Hoodie (BLACK)      -->
          {% if product.tags contains 'Nina' %}
            طول نينا 163 سم /  5'4 وترتدي مقاس S (أسود)<br>
            طول لونا 170 سم /   5'6 ترتدي مقاس S (رمادي) <br>
            طول لونا 170 سم /   5'6 ترتدي مقاس M (كحلي)
          {% endif %}
          {% if product.tags contains 'Levi' %}
            طول ليفي 180 / 5'9 ، يرتدي مقاس S (أسود)<br>
            طول بورها هو   188 /6'2، يرتدي مقاس M (رمادي) (أزرق داكن)
          {% endif %}
          <!-- Relaxed Cuffed Joggers (GREY)  -->
          {% if product.tags contains 'Tosin-Joggers' %}
            طول توسين 178 سم / 5'8، ترتدي مقاس S (رمادي)<br>
            ريانا طولها 178 سم / 5'8 وترتدي مقاس S (كحلي)<br>
            طول نينا 163 سم /  5'4 وترتدي مقاس S (أسود)
          {% endif %}
          {% if product.tags contains 'Pourha-Joggers' %}
            طول بورها هو   188 /6'2، يرتدي مقاس L (رمادي) (أزرق داكن))<br>
            طول ليفي 180 / 5'9 ، يرتدي مقاس L (أسود)
          {% endif %}
          <!--    Relaxed Cuffed Joggers (NAVY BLUE)      -->
          {% if product.tags contains 'Luna-Joggers' %}
            ريانا طولها 178 سم / 5'8 وترتدي مقاس S (كحلي)<br>
            طول توسين 178 سم / 5'8، ترتدي مقاس S (رمادي)<br>
            طول نينا 163 سم /  5'4 وترتدي مقاس S (أسود)
          {% endif %}
          <!--      Relaxed Cuffed Joggers (BLACK)    -->
          {% if product.tags contains 'Nina-Joggers' %}
            طول نينا 163 سم /  5'4 وترتدي مقاس S (أسود)<br>
            ريانا طولها 178 سم / 5'8 وترتدي مقاس S (كحلي)<br>
            طول توسين 178 سم / 5'8، ترتدي مقاس S (رمادي)
          {% endif %}
          {% if product.tags contains 'Levi-Joggers' %}
            طول ليفي 180 / 5'9 ، يرتدي مقاس L (أسود)<br>
            طول بورها هو   188 /6'2، يرتدي مقاس L (رمادي) (أزرق داكن))
          {% endif %}
          <!--     Draped Shoulder Sweater  - Grey   -->
          {% if product.tags contains 'Tosin-Sweater' %}
            طول توسين 178 سم / 5'8، ترتدي مقاس S (رمادي)<br>
            ريانا طولها 178 سم / 5'8 وترتدي مقاس S (كحلي)<br>
            طول نينا 163 سم /  5'4 وترتدي مقاس S (أسود)
          {% endif %}
          {% if product.tags contains 'Levi-Sweater' %}
            طول ليفي هو 180 / 5'9 ، يرتدي مقاس S (رمادي)<br>
            طول بورها هو   188 /6'2، يرتدي مقاس M (كحلي)<br>
            طول ليفي 180 / 5'9 ، يرتدي مقاس L (أسود)
          {% endif %}
          <!--    Draped Shoulder Sweater (NAVY BLUE)    -->
          {% if product.tags contains 'Pourha-Sweater' %}
            طول بورها هو   188 /6'2، يرتدي مقاس M (كحلي)<br>
            طول ليفي هو 180 / 5'9 ، يرتدي مقاس S (رمادي)<br>
            طول ليفي 180 / 5'9 ، يرتدي مقاس L (أسود)
          {% endif %}
          <!--    Draped Shoulder Sweater (BLACK)    -->
          {% if product.tags contains 'Nina-Sweater' %}
            طول نينا 163 سم /  5'4 وترتدي مقاس S (أسود)<br>
            طول توسين 178 سم / 5'8، ترتدي مقاس S (رمادي)<br>
            ريانا طولها 178 سم / 5'8 وترتدي مقاس S (كحلي)
          {% endif %}
          <!--    French Terry Cotton Shorts (GREY)     -->
          {% if product.tags contains 'Luna-Shorts' %}
            طول لونا 170 سم /   5'6 ترتدي مقاس S (رمادي)<br>
            طول توسين 178 سم / 5'8 ، ترتدي مقاس S (كحلي)<br>
            مهناز طول 161 سم / 5'3 وترتدي مقاس L (اسود)
          {% endif %}
          {% if product.tags contains 'Pourha-Shorts' %}
            طول بورها هو   188 /6'2، يرتدي مقاس L (رمادي)<br>
            ليفي مقاس 180 / 5'9 ، يرتدي مقاس M (كحلي)<br>
            طول ليفي هو  180 / 5'9 ، يرتدي مقاس M (أسود)
          {% endif %}
          <!--    French Terry Cotton Shorts (NAVY BLUE)    -->
          {% if product.tags contains 'Tosin-Shorts' %}
            طول توسين 178 سم / 5'8 ، ترتدي مقاس S (كحلي)<br>
            طول لونا 170 سم /   5'6 ترتدي مقاس S (رمادي)<br>
            مهناز طول 161 سم / 5'3 وترتدي مقاس L (اسود)
          {% endif %}
          {% if product.tags contains 'Levi-Shorts' %}
            ليفي مقاس 180 / 5'9 ، يرتدي مقاس M (كحلي)<br>
            طول بورها هو   188 /6'2  ، يرتدي مقاس L (رمادي)<br>
            طول ليفي هو  180 / 5'9 ، يرتدي مقاس M (أسود)
          {% endif %}
          <!--    French Terry Cotton Shorts (BLACK)     -->
          {% if product.tags contains 'Mahnaz-Shorts' %}
            مهناز طول 161 سم / 5'3 وترتدي مقاس L (اسود)<br>
            طول توسين 178 سم / 5'8 ، ترتدي مقاس S (كحلي)<br>
            طول لونا 170 سم /   5'6 ترتدي مقاس S (رمادي)
          {% endif %}
          <!--    Freedom Sports Bra (CHARCOAL GREY)     -->
          {% if product.tags contains 'Tosin-Bra' %}
            طول توسين 178 سم / 5'8 ، ترتدي مقاس S (رمادي فحمي)<br>
            طول ميشيل 156 سم / 5'1 ، ترتدي مقاس S (رمادي فحمي)<br>
            ريانا طولها 178 سم / 5'8 وترتدي مقاس S (كحلي)<br>
            طول نينا 163 سم /  5'4 وترتدي مقاس S (أسود)
          {% endif %}
          <!--    Freedom Sports Bra (NAVY BLUE)     -->
          {% if product.tags contains 'Mahnaz-Bra' %}
            ريانا طولها 178 سم / 5'8 وترتدي مقاس S (كحلي)<br>
            طول توسين 178 سم / 5'8 ، ترتدي مقاس S (رمادي فحمي)<br>
            طول ميشيل 156 سم / 5'1 ، ترتدي مقاس S (رمادي فحمي)<br>
            طول نينا 163 سم /  5'4 وترتدي مقاس S (أسود)
          {% endif %}
          {% comment %}    Freedom Sports Bra (BLACK)     {% endcomment %}
          {% if product.tags contains 'Nina-Bra' %}
            طول نينا 163 سم /  5'4 وترتدي مقاس S (أسود) <br>
            ريانا طولها 178 سم / 5'8 وترتدي مقاس S (كحلي)<br>
            طول توسين 178 سم / 5'8 ، ترتدي مقاس S (رمادي فحمي)<br>
            طول ميشيل 156 سم / 5'1 ، ترتدي مقاس S (رمادي فحمي)
          {% endif %}
          <!--    Airbrushed Leggings (CHARCOAL GREY)     -->
          {% if product.tags contains 'Tosin-Leggings' %}
            طول توسين 178 سم / 5'8 ، ترتدي مقاس S (رمادي فحمي)<br>
            طول ميشيل 156 سم / 5'1 ، ترتدي مقاس S (رمادي فحمي) <br>
            ريانا طولها 178 سم / 5'8 وترتدي مقاس S (كحلي) <br>
            طول نينا 163 سم /  5'4 وترتدي مقاس S (أسود)
          {% endif %}
          <!--    Airbrushed Leggings (NAVY BLUE)     -->
          {% if product.tags contains 'Mahnaz-Leggings' %}
            ريانا طولها 178 سم / 5'8 وترتدي مقاس S (كحلي)<br>
            طول توسين 178 سم / 5'8 ، ترتدي مقاس S (رمادي فحمي)<br>
            طول ميشيل 156 سم / 5'1 ، ترتدي مقاس S (رمادي فحمي) <br>
            طول نينا 163 سم /  5'4 وترتدي مقاس S (أسود)
          {% endif %}
          <!--    Airbrushed Leggings (BLACK)     -->
          {% if product.tags contains 'Nina-Leggings' %}
            طول نينا 163 سم /  5'4 وترتدي مقاس S (أسود) <br>
            ريانا طولها 178 سم / 5'8 وترتدي مقاس S (كحلي)<br>
            طول توسين 178 سم / 5'8 ، ترتدي مقاس S (رمادي فحمي)<br>
            طول ميشيل 156 سم / 5'1 ، ترتدي مقاس S (رمادي فحمي)
          {% endif %}
          <!--   Classic Crop (CHARCOAL GREY)      -->
          {% if product.tags contains 'Tosin-Crop' %} 
          طول توسين هو  178 سم / 5'8، ترتدي مقاس XS / S (رمادي فحمي) (أزرق داكن)<br>
            طول نينا 163 سم / 4'5، ترتدي مقاس XS / S (أسود)
          {% endif %}
          <!--    Classic Crop (BLACK)      -->
          {% if product.tags contains 'Nina-Crop' %}
            طول نينا 163 سم / 4'5، ترتدي مقاس XS / S (أسود)<br>
            طول الطول 178 سم / 5'8، ترتدي مقاس XS / S (رمادي فحمي) (أزرق داكن)
          {% endif %}
          <!--     Knee-high Biker Shorts (CHARCOAL GREY)    -->
          {% if product.tags contains 'Tosin-Biker-Shorts' %}
            الطول 178 سم / 5'8، ترتدي مقاس S (رمادي فحمي) (كحلي) <br>
            طول نينا 163 سم /  5'4 وترتدي مقاس S (أسود)
          {% endif %}
          <!--    Knee-high Biker Shorts (BLACK)     -->
          {% if product.tags contains 'Nina-Biker-Shorts' %}
            طول نينا 163 سم /  5'4 وترتدي مقاس S (أسود) <br>
            الطول 178 سم / 5'8، ترتدي مقاس S (رمادي فحمي) (كحلي)
          {% endif %}
          <!-- Soft Logo-print T-Shirt (WHITE)  -->
          {% if product.tags contains 'Tosin-Soft' %}
            طول توسين 178 سم / 5'8، ترتدي مقاس S (أبيض)<br>
            مهناز طول 161 سم / 5'3 وترتدي مقاس L (اسود)
          {% endif %}
          {% if product.tags contains 'Pourha-Soft' %}
           يبلغ طول بورها 188 سم / 6'2 ، ويرتدي مقاس M (أبيض) (أسود)
          {% endif %}
          <!-- Soft Logo-print T-Shirt (BLACK)  -->
          {% if product.tags contains 'Mahnaz-Soft' %}
            مهناز طول 161 سم / 5'3 وترتدي مقاس L (اسود) <br>
            طول توسين 178 سم / 5'8، ترتدي مقاس S (أبيض)
          {% endif %}
          <!-- Deform Logo-print T- Shirt (NAVY BLUE) -->
          {% if product.tags contains 'Luna-Deform' %}
            طول لونا 170 سم /   5'6 وترتدي مقاس S.
          {% endif %}
          {% if product.tags contains 'Levi-Deform' %}
           طول ليفي 180 سم / 5'9 ، يرتدي مقاس S.
          {% endif %}
          <!-- YOU Oversized zip-up hoodie (FOREST GREEN)  -->
          {% if product.tags contains 'Luna-You' %}
            طول لونا 170 سم /   5'6 وترتدي مقاس S.
          {% endif %}
          {% if product.tags contains 'Levi-You' %}
            طول ليفي 180 سم / 5'9 ، يرتدي مقاس L
          {% endif %}
          <!-- YOU Relaxed Cuffed Joggers (FOREST GREEN) -->
          {% if product.tags contains 'Tosin-YouJoggers' %}
            طول توسين 178 سم / 5'8 ، ترتدي مقاس S.
          {% endif %}
          {% if product.tags contains 'Pourha-YouJoggers' %}
            طول بورها هو   188 /6'2 ، وهو يرتدي مقاس L
          {% endif %}
          <!-- YOU Draped shoulder sweater (FOREST GREEN)  -->
          {% if product.tags contains 'Luna-YouSweater' %}
            طول لونا 170 سم /   5'6 وترتدي مقاس S.
          {% endif %}
          {% if product.tags contains 'Pourha-YouSweater' %}
          طول بورها هو   188 /6'2، وهو يرتدي مقاس M
          {% endif %}
          <!-- YOU French terry cotton shorts (FOREST GREEN) -->
          {% if product.tags contains 'You-Luna-Shorts' %}
            طول لونا 170 سم /   5'6 وترتدي مقاس S.
          {% endif %}
          {% if product.tags contains 'You-Levi-Shorts' %}
            طول ليفي هو  180 / 5'9 ، يرتدي مقاس L
          {% endif %}
          <!-- YOU Logo-print T-shirt (FOREST GREEN) -->
          {% if product.tags contains 'Tosin-You' %}
            طول توسين 178 سم / 5'8 ، ترتدي مقاس S.
          {% endif %}
          {% if product.tags contains 'YOU Logo-print T-shirt-Levi' %}
          طول ليفي هو  180 / 5'9 ، يرتدي مقاس M
          {% endif %}
          <!--  -->
          {% if product.tags contains 'Pourha-Loos_SS' %}
            يبلغ طول بورها 188 سم / 6'2 ، ويرتدي مقاس L
          {% endif %}
          <!--  -->
          {% if product.tags contains 'Pourha-Classic' %}
            يبلغ طول بورها 188 سم / 6'2 ، ويرتدي مقاس L
          {% endif %}
          <!-- Drop Trousers (Faded Blue)  -->
          {% if product.tags contains 'Drop Trouser' %}
            يبلغ طول بورها 188 سم / 6'2 ، ويرتدي مقاس L
          {% endif %}
          <!-- Long Sleeveless Knit Dress (Faded Blue) -->
          {% if product.tags contains 'Luna-Long' %}
           طول لونا 170 سم /   5'6 وترتدي مقاس XS
          {% endif %}
          <!-- SS Tank Dress (Faded Blue)  -->
          {% if product.tags contains 'Luna-Tank' %}
           طول لونا 170 سم /   5'6 وترتدي مقاس XS
          {% endif %}
          <!-- Signature Crop Tee (Faded Blue)  -->
          {% if product.tags contains 'Luna-Signature' %}
            طول لونا 170 سم /   5'6 وترتدي مقاس S.
          {% endif %}
          <!-- LS Oversized Shirt (White)   -->
          {% if product.tags contains 'Luna-LS' %}
           طول لونا 170 سم /   5'6 وترتدي مقاس XS
          {% endif %}
          <!-- Deconstructed Cropped Shirt    -->
          {% if product.tags contains 'Luna-Deconstructed' %}
            طول لونا 170 سم /   5'6 وترتدي مقاس S.
          {% endif %}
          <!-- Wide Leg Pocket Trousers    -->
          {% if product.tags contains 'Luna-Wide' %}
            طول لونا 170 سم /   5'6 وترتدي مقاس S./M
          {% endif %}
          <!-- Socks    -->
          {% if product.tags contains 'Socks' %}
            مقاس واحد
          {% endif %}
          <!-- Logo Cap    -->
          {% if product.tags contains 'Logo-Cap' %}
            مقاس واحد
          {% endif %}
          <!-- Logo Bucket Hat     -->
          {% if product.tags contains 'Logo-Bucket' %}
            مقاس واحد
          {% endif %}
          <!-- Essential Hoodie for Women    -->
          {% if product.tags contains 'Essential Hoodie' and product.tags contains 'women' %}
          ريانا طولها 178 سم / 5'8 ، وهي ترتدي مقاس S.
          {% endif %}
          <!-- Essential Hoodie for Men    -->
          {% if product.tags contains 'Essential Hoodie' and product.tags contains 'men' %}
            طول بورها هو   188 /6'2، وهو يرتدي مقاس L
          {% endif %}
          <!-- Cropped Sweatshirt for Women    -->
          {% if product.tags contains 'Cropped Sweatshirt' %}
          ريانا طولها 178 سم / 5'8 ، وهي ترتدي مقاس XS/S.
          {% endif %}
          <!-- Stitched Turtleneck Sweater for Men    -->
          {% if product.tags contains 'Stitched Turtleneck Sweater' %}
            طول بورها هو   188 /6'2، وهو يرتدي مقاس L/XL
          {% endif %}
             <!-- Stitched Turtleneck Sweater for Women    -->
          {% if product.tags contains 'Stitched Turtleneck Sweater Women' %} 
          ريانا طولها 178 سم / 5'8 ، وهي ترتدي مقاس S/M.
          {% endif %}
          <!-- Logo T-shirt for Women    -->
          {% if product.tags contains 'Logo T-shirt' and product.tags contains 'women' %}
            ريانا طولها 178 سم / 5'8 ، وهي ترتدي مقاس S.
          {% endif %}
          <!-- Logo T-shirt for Men    -->
          {% if product.tags contains 'Logo T-shirt' and product.tags contains 'men' %}
            طول بورها هو   188 /6'2، وهو يرتدي مقاس L
          {% endif %}
          <!-- Cropped Boxy T-shirt for Women    -->
          {% if product.tags contains 'Cropped Boxy T-shirt' %}
          ريانا طولها 178 سم / 5'8 ، وهي ترتدي مقاس XS/S.
          {% endif %}
          <!-- Classic Longsleeve for Women    -->
          {% if product.tags contains 'Classic Longsleeve' and product.tags contains 'women' %}
          ريانا طولها 178 سم / 5'8 ، وهي ترتدي مقاس S.
          {% endif %}
          <!-- Classic Longsleeve for Men    -->
          {% if product.tags contains 'Classic Longsleeve' and product.tags contains 'men' %}
            طول بورها هو   188 /6'2، وهو يرتدي مقاس L
          {% endif %}
          <!-- Cuffed Sweatpants for Men    -->
          {% if product.tags contains 'Cuffed Sweatpants' %}
            طول بورها هو   188 /6'2، وهو يرتدي مقاس L
          {% endif %}
          <!-- Army Field Cargos for Men    -->
          {% if product.tags contains 'Army Field Cargos' %}
            طول بورها هو   188 /6'2، وهو يرتدي مقاس L
          {% endif %}
          <!-- Loose Sweatpants for Women    -->
          {% if product.tags contains 'Loose Sweatpants' %}
          ريانا طولها 178 سم / 5'8 ، وهي ترتدي مقاس S.
          {% endif %}
          <!-- Parachute Pants for Women    -->
          {% if product.tags contains 'Parachute Pants' %}
          ريانا طولها 178 سم / 5'8 ، وهي ترتدي مقاس XS/S.
          {% endif %}
          <!-- Notstitched Shorts for Men    -->
          {% if product.tags contains 'Notstitched Shorts' %}
            طول بورها هو   188 /6'2، وهو يرتدي مقاس L
          {% endif %}
          <!-- The Modern Cargos for Women    -->
          {% if product.tags contains 'The Modern Cargos' %}
            ريانا طولها 178 سم / 5'8 ، وهي ترتدي مقاس S.
          {% endif %}

        <!-- The College Quarter Zip for Women    -->
      {% if product.tags contains 'College Quarter Zip' and product.tags contains 'women' %} 
          ميلانا طولها 173 سم / 7'5 ، وهي ترتدي مقاس S/M.
      {% endif %}

      <!-- The College Quarter Zip for MEN    -->
      {% if product.tags contains 'College Quarter Zip' and product.tags contains 'men' %} 
         طول طلال هو   185 /1'6، وهو يرتدي مقاس S/M
       {% endif %}


  <!-- The College T-shirt for Women    -->
      {% if product.tags contains 'College T-shirt' and product.tags contains 'women' %} 
      ميلانا طولها 173 سم / 7'5 ، وهي ترتدي مقاس S.
  {% endif %}

  <!-- The College T-shirt for MEN    -->
  {% if product.tags contains 'College T-shirt' and product.tags contains 'men' %} 
     طول طلال هو   185 /1'6، وهو يرتدي مقاس M
   {% endif %}
     <!-- College Sweatpants for Women    -->
     {% if product.tags contains 'College Sweatpants' and product.tags contains 'women' %} 
     ميلانا طولها 173 سم / 7'5 ، وهي ترتدي مقاس S.
 {% endif %}

 <!-- College Sweatpants for MEN    -->
 {% if product.tags contains 'College Sweatpants' and product.tags contains 'men' %} 
    طول طلال هو   185 /1'6، وهو يرتدي مقاس M
  {% endif %}

       <!-- College Shorts for Women    -->
       {% if product.tags contains 'College Shorts' and product.tags contains 'women' %} 
       ميلانا طولها 173 سم / 7'5 ، وهي ترتدي مقاس S.
   {% endif %}
  
   <!-- College Shorts for MEN    -->
   {% if product.tags contains 'College Shorts' and product.tags contains 'men' %} 
      طول طلال هو   185 /1'6، وهو يرتدي مقاس M
    {% endif %}
     

    {% if product.tags contains 'Pourha_L' %} 
    يبلغ طول بورها 188 سم / 6'2 ، ويرتدي مقاس L
    {% endif %}

    {% if product.tags contains 'Pourha_M' %} 
    يبلغ طول بورها 188 سم / 6'2 ، ويرتدي مقاس M
    {% endif %}

    {% if product.tags contains 'Pourha_M_L' %} 
    يبلغ طول بورها 188 سم / 6'2 ، ويرتدي مقاس M/L
    {% endif %}

    {% if product.tags contains 'Pourha_L_XL' %} 
    يبلغ طول بورها 188 سم / 6'2 ، ويرتدي مقاس L/XL
    {% endif %}


    {% if product.tags contains 'Barbara_S_M' %} 
    طول باربارا هو  177 سم / 8'5, و ترتدي مقاس  S/M
    {% endif %}

    {% if product.tags contains 'Barbara_S' %} 
    طول باربارا هو  177 سم / 8'5, و ترتدي مقاس  S
    {% endif %}

    {% if product.tags contains 'Barbara_M' %} 
    طول باربارا هو  177 سم / 8'5, و ترتدي مقاس M
    {% endif %}

    {% if product.tags contains 'Barbara_XS' %} 
    طول باربارا هو  177 سم / 8'5, و ترتدي مقاس  XS
    {% endif %}

    {% if product.tags contains 'Barbara_XS_S' %} 
    طول باربارا هو  177 سم / 8'5, و ترتدي مقاس  XS/S
    {% endif %}

    {% if product.tags contains 'Milena_M_L' %} 
    طول ميلانا هو  177 سم / 8'5, و ترتدي مقاس  M/L
    {% endif %}

    {% if product.tags contains 'Dinara_XS' %} 
    طول ديارنا هو  170 سم / 6'5, و ترتدي مقاس  XS
  {% endif %}
  {% if product.tags contains 'Reza_L' %} 
      يبلغ طول ريزا 183 سم / 0'6 ، ويرتدي مقاس L
  {% endif %}
  {% if product.tags contains 'Dinara_S' %} 
  طول ديارنا هو  170 سم / 6'5, و ترتدي مقاس  S
  {% endif %}


        </div><br>
        {% if product.tags contains 'College Shorts' %}
        <div class="description">
          <p>
            <b>المكونات</b><br>49% بوليستر<br>51% قطن</p>
          <p>
            <b>إرشادات الإستعمال</b><br>>تصبين مع نفس الألوان في درجة حرارة باردة, غسل في الخارج بعد التصبين  بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة  , لا تستخدم التنظيف الجاف
          </p>
          <p>
            <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
        </div>
      {% endif %}

        {% if product.tags contains 'College Tote Bag' %}
        <div class="description">
          <p>
            <b>المكونات</b><br>100% قطن</p>
          <p>
            <b>إرشادات الإستعمال</b><br>تصبين  في درجة حرارة باردة, غسل في الخارج بعد التصبين  بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة  , لا تستخدم التنظيف الجاف 
          </p>
          <p>
            <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
        </div>
      {% endif %}

        {% if product.tags contains 'College Sweatpants' %}
        <div class="description">
          <p>
            <b>المكونات</b><br>49% بوليستر<br>51% قطن</p>
          <p>
            <b>إرشادات الإستعمال</b><br>تصبين مع نفس الألوان في درجة حرارة باردة, غسل في الخارج بعد التصبين  بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة  , لا تستخدم التنظيف الجاف 
          </p>
          <p>
            <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
        </div>
      {% endif %}

        {% if product.tags contains 'Zip-Up Hoodie' or product.tags contains 'Palestine-Quarter' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>100%   قطن قماش فرنسي</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة , غسل بالخارج بعد التصبين بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة , لا تستخدم التنظيف الجاف 
            </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}

        {% if product.tags contains 'College T-shirt' %}
        <div class="description">
          <p>
            <b>المكونات</b><br>100% قطن</p>
          <p>
            <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة , غسل بالخارج بعد التصبين بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة , لا تستخدم التنظيف الجاف 
          </p>
          <p>
            <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
        </div>
      {% endif %} 
        {% if product.tags contains 'Relaxed Cuffed Joggers' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>100%  قماش فرنسي قطن</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة , غسل بالخارج بعد التصبين بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة , لا تستخدم التنظيف الجاف 
            </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Sweater' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>100%  قماش فرنسي قطن</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة , غسل بالخارج بعد التصبين بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة , لا تستخدم التنظيف الجاف 
            </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'French Terry Cotton Shorts' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>100%  قماش فرنسي قطن</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة , غسل بالخارج بعد التصبين بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة , لا تستخدم التنظيف الجاف 
            </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Freedom Sports Bra' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>75% بوليستر<br>25% نسيج دنة
            </p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين  لطيف مع ألوان متشابهة. غسل بالخارج بدون  مبيض. لا تستخدم التجفيف الآلي. لا تستخدم التنظيف الجافف</p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Airbrushed Leggings' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>75% بوليستر<br>25% نسيج دنة
            </p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين  لطيف مع ألوان متشابهة. غسل بالخارج بدون  مبيض. لا تستخدم التجفيف الآلي. لا تستخدم التنظيف الجافف</p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Classic Crop' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>75% بوليستر<br>25% نسيج دنة
            </p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين  لطيف مع ألوان متشابهة. غسل بالخارج بدون  مبيض. لا تستخدم التجفيف الآلي. لا تستخدم التنظيف الجافف</p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Knee-High Biker Shorts' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>75% بوليستر<br>25% نسيج دنة
            </p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين  لطيف مع ألوان متشابهة. غسل بالخارج بدون  مبيض. لا تستخدم التجفيف الآلي. لا تستخدم التنظيف الجافف</p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Deform-Logo-Print T-shirt' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>100%  قطن عضوي</p>
            <p>
              <b>إرشادات الإستعمال</b><br>درجة حرارة باردة, غسل ملابس بالخارج بعد التصبين و بدون مبيض , الكي بحرارة منخفضة</p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'YOU Oversized Zip-Up Hoodie' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>100%   قطن قماش فرنسي 
            </p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة , غسل بالخارج بعد التصبين بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة , لا تستخدم التنظيف الجاف 
            </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}

        {% if product.tags contains 'You-Sweater' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>100%   قطن قماش فرنسي </p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة , غسل بالخارج بعد التصبين بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة , لا تستخدم التنظيف الجاف 
            </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Tosin-You' or product.tags contains 'YOU Logo-print T-shirt-Levi' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>100% قطن عضوي </p>
            <p>
              <b>إرشادات الإستعمال</b><br>درجة حرارة باردة, غسل ملابس بالخارج بعد التصبين و بدون مبيض , الكي بحرارة منخفضة</p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Mahnaz-Soft' or product.tags contains 'Pourha-Soft' or product.tags contains 'Tosin-Soft' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>80% قطن<br>20% بوليستر</p>
            <p>
              <b>إرشادات الإستعمال</b><br>درجة حرارة باردة, غسل ملابس بالخارج بعد التصبين و بدون مبيض , الكي بحرارة منخفضة</p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Pourha-Loos_SS' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>100% قطن</p>
            <p>
              <b>إرشادات الإستعمال</b><br>درجة حرارة باردة, غسل ملابس بالخارج بعد التصبين و بدون مبيض , الكي بحرارة منخفضة</p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Pourha-Classic' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>100% عضوي قطن<br>100% عيدان</p>
            <p>
              <b>إرشادات الإستعمال</b><br>درجة حرارة باردة, غسل ملابس بالخارج بعد التصبين و بدون مبيض , الكي بحرارة منخفضة</p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Drop Trouser' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>95% قطن<br>5 %ليكرا </p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين مع نفس الألوان.  ضبط الة الغسيل في درجة حرارة باردة. غسل خارج الة التصببين بدون مبيض. يكوى بحرارة منخفضة. دورة لطيفة.</p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Luna-Long' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>95% بوليستر<br>5% نسيج دنة</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة , غسل بالخارج بعد التصبين بدون مبيضات ,  مكواة بالبخار إدا لزم الأمر   </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        
        {% if product.tags contains 'Luna-Tank' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>95% بوليستر<br>5% نسيج دنة</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة , غسل بالخارج بعد التصبين بدون مبيضات ,  تخفيض درجة حرارة التحديد إدا لزم الأمر  
            </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Luna-Signature' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>100% قطن</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة , غسل بالخارج بعد التصبين بدون مبيضات ,  تخفيض درجة حرارة التحديد إدا لزم الأمر  </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Luna-LS' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>100% قطن</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة , غسل بالخارج بعد التصبين بدون مبيضات ,  تخفيض درجة حرارة التحديد إدا لزم الأمر  </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Luna-Deconstructed' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>100% قطن</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة , غسل بالخارج بعد التصبين بدون مبيضات ,  تخفيض درجة حرارة التحديد إدا لزم الأمر  </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Luna-Wide' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>95% قطن<br>5% ليكرا</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة , غسل بالخارج بعد التصبين بدون مبيضات ,  تخفيض درجة حرارة التحديد إدا لزم الأمر  </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Socks' %}
          <div class="description">
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة , غسل بالخارج بعد التصبين بدون مبيضات </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Logo-Cap' %}
          <div class="description">
            <p>
              <b>إرشادات الإستعمال</b><br>نظف المنظقة فقط</p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Logo-Bucket' %}
          <div class="description">
            <p>
              <b>إرشادات الإستعمال</b><br>نظف المنظقة فقط</p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Essential Hoodie' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>100% قطن</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة , غسل بالخارج بعد التصبين بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة , لا تستخدم التنظيف الجاف </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني</p>
          </div>
        {% endif %}
        {% if product.tags contains 'Cropped Sweatshirt' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>80.7% قطن<br>19.3% بوليستر</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين مع نفس الألوان في درجة حرارة باردة, غسل في الخارج بعد التصبين  بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة  , لا تستخدم التنظيف الجاف </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني
            </p>
          </div>
        {% endif %}

        {% if product.tags contains 'College Quarter Zip' %} 
        <div class="description">
          <b>المكونات</b><br>80.7% قطن<br>19.3% بوليستر</p>
          <p><b>إرشادات الإستعمال</b><br>تصبين مع نفس الألوان. بدرجة حرارة باردة . يغتسل بالخارج . لا تستخدمي التجفيف الآلي. حديد متوسط الحرارة. لا تستخدم التنظيف الجاف</p>
          <p><b>التعبئة والتغليف</b>
          <br>
          لكل منتج ، لديك مادة تعبئة مستدامة صديقة للبيئة . يتم تعبئة كل عنصر تشتريه في أكياس برباط قابلة لإعادة الاستخدام خالية من البلاستيك ، 100٪ قطن</p>
        </div>
        {% endif %}


        {% if product.tags contains 'Stitched Turtleneck Sweater' or product.tags contains 'Stitched Turtleneck Sweater Women' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>80.7% قطن<br>19.3% بوليستر</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين مع نفس الألوان في درجة حرارة باردة, غسل في الخارج بعد التصبين  بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة  , لا تستخدم التنظيف الجاف </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني
            </p>
          </div>
        {% endif %}
        {% if product.tags contains 'Logo T-shirt' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>100% قطن</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة , غسل بالخارج بعد التصبين بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة , لا تستخدم التنظيف الجاف </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني
            </p>
          </div>
        {% endif %}
        {% if product.tags contains 'Cropped Boxy T-shirt' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>100% قطن</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة , غسل بالخارج بعد التصبين بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة , لا تستخدم التنظيف الجاف </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني
            </p>
          </div>
        {% endif %}
        {% if product.tags contains 'Classic Longsleeve' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>100% قطن</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة , غسل بالخارج بعد التصبين بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة , لا تستخدم التنظيف الجاف </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني
            </p>
          </div>
        {% endif %}
        {% if product.tags contains 'Cuffed Sweatpants' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>80.7% قطن<br>19.3% بوليستر</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين مع نفس الألوان في درجة حرارة باردة, غسل في الخارج بعد التصبين  بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة  , لا تستخدم التنظيف الجاف </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني
            </p>
          </div>
        {% endif %}
        {% if product.tags contains 'Army Field Cargos' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>20% قطن<br>80% بوليستر</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة مع نفس الألوان , غسل بالخارج بعد التصبين بدون مبيضات  الكلور , لا تستخدم التجفيف الالي, حديد دافئ , يجف على الفور </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني
            </p>
          </div>
        {% endif %}
        {% if product.tags contains 'Loose Sweatpants' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>80.7% قطن<br>19.3% بوليستر</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين مع نفس الألوان في درجة حرارة باردة, غسل في الخارج بعد التصبين  بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة  , لا تستخدم التنظيف الجاف </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني
            </p>
          </div>
        {% endif %}
        {% if product.tags contains 'Parachute Pants' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>100% بوليستر</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة مع نفس الألوان , غسل بالخارج بعد التصبين بدون مبيضات  الكلور , لا تستخدم التجفيف الالي, حديد دافئ , يجف على الفور </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني
            </p>
          </div>
        {% endif %}
        {% if product.tags contains 'Notstitched Shorts' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>80.7% قطن<br>19.3% بوليستر</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين مع نفس الألوان في درجة حرارة باردة, غسل في الخارج بعد التصبين  بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة  , لا تستخدم التنظيف الجاف </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني
            </p>
          </div>
        {% endif %}
        {% if product.tags contains 'The Modern Cargos' %}
          <div class="description">
            <p>
              <b>المكونات</b><br>100% قطن</p>
            <p>
              <b>إرشادات الإستعمال</b><br>تصبين في درجة حرارة باردة , غسل بالخارج بعد التصبين بدون مبيضات الكلور , لا تستخدم التجفيف الالي , التحديد بدرجة حرارة متوسطة , لا تستخدم التنظيف الجاف </p>
            <p>
              <b>التعبئة والتغليف</b><br>لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني
            </p>
          </div>
        {% endif %}

        {% if product.tags contains 'products06-2023' or product.tags contains 'products10-2023' %} 
        <div class="description"> 
         
         {% if product.tags contains '100Polyester' %}
         <p><b>المكونات</b><br>
            100% بوليستير</p>
            <p><b>إرشادات الإستعمال</b><br>
            غسيل آلي في دورة باردة فقط. لا تنقع. لا تستعمل مبيض. لا تستخدمي التجفيف الآلي. يغسل بألوان متشابهة فقط. يجف بعيدًا عن أشعة الشمس المباشرة. مكواة باردة فقط
            </p>
         {%endif%}
    
         {% if product.tags contains '100Cotton' %} 
         <p><b>المكونات</b><br>
          100% قطن</p>
            <p><b>إرشادات الإستعمال</b><br>
            اغسل بشكل منفصل قبل الاستخدام. غسيل آلي لطيف دافئ. يغسل بألوان متشابهة فقط. لا تنقع. لا تستعمل مبيض. لا تعلق في ضوء الشمس المباشر. حديد دافئ
            </p>
          {%endif%}
    
    
         {% if product.tags contains '100CottonCanvas' %} 
         <p><b>المكونات</b><br>
              100% قماش قطني</p>
              <p><b>إرشادات الإستعمال</b><br>
              آلة غسل الباردة. اغتسل بالخارج لا مبيضات الكلور. لا تستخدمي التجفيف الآلي. حديد متوسط ​​الحرارة. لا تستخدم التنظيف الجاف
              </p>
          {%endif%}
    
    
         {% if product.tags contains '94Cotton_6Spandex' %} 
         <p><b>المكونات</b><br>
         94 بالمئة قطن 6 بالمئة دنة</p>
           <p><b>إرشادات الإستعمال</b><br>
           غسيل آلي  دافئ. لا تستعمل مبيض. يغسل مع ألوان متشابهة فقط. حديد دافئ
           </p>
        {%endif%}
    
        {% if product.tags contains '62Cotton_35Nylon_35Spandex' %} 
        <p><b>المكونات</b><br>
          62% قطن / 35% نيلو/ 35% دنة </p>
          <p><b>إرشادات الإستعمال</b><br>
          غسيل آلي دافئ. لا تستعمل مبيض. لا تنقع. يغسل مع ألوان متشابهة فقط. حديد دافئ
          </p>
        {%endif%}
        {% if product.tags contains '100Tencel' %} 
        <p><b>المكونات</b><br>
          100% ايوسل</p>
          <p><b>إرشادات الإستعمال</b><br>
          غسيل آلي لطيف دافئ. يغسل مع نفس الألوان. لا تستعمل مبيض. لا تستخدمي التجفيف الآلي. يجف بعيدًا عن أشعة الشمس المباشرة. الحديد منخفض
          </p>
        {%endif%}
         <p>
          <b>التعبئة والتغليف</b>
          <br>
          لتعبئة المنتجات نستعمل أكياس  مستدامة و صديقة للبيئة , كل منتج يتم تعبئته في كيس مئة بالمئة قطني
          </p>
        </div>
       {% endif %}

      </div>

    </div>
  </div>
</div>