
 {% if page.handle == 'our-story' %}
 <style>

body .page-container {
    overflow: visible;
}
.aoursto-box{
  font-size:18px;
}
body .kt-timer .kt-card, body .kt-timer .kt-sep {
    font-size: 20pt;
}
body .site-nav__childlist-item .site-nav__label {
    color: #000;
}
.our-story.our-story-second-section img{
  width:100% !important;
  height:100%;
  object-fit:cover;
}
.about-new-section .page-width {
    padding-left: 0px;
    padding-right: 0px;
}
.about-new-section .page-width .grid {
    margin-left: 0px;
}
.about-new-section .page-width .grid .grid__item{
  left:0px;
  width:100%;
      padding-left: 0px;
}
.aoursto-box {
    min-height: 840px;
}
@media(max-width:900px){
  .aoursto-box {
    min-height: auto;
}
.aoursto-box2 .righr{
  order:2;
}
.aoursto-box2{
  display: flex !important;
  flex-direction: column;
}
}
.about-new-section .static-pages{
  display:flex;
  justify-content:space-between;
}
.about-new-section .static-pages .our-story-first-section{
  width:50%;
  padding-right:60px;
}
.about-new-section .static-pages .our-story-second-section{
  width:45%;
      height: 80vh;
    overflow: hidden;
  object-fit:cover;
}

  
  
  .accordion {
    color: #444;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    background: transparent;
    border: 1px solid #ccc;
    border-width: 1px 1px 0px 1px;
    letter-spacing: 0.5px;
  }
  .panel p {
    letter-spacing: 0.5px;
    font-size: 15px;
    padding-bottom: 0;
    text-align: justify;
    line-height: 26px;
  }
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
  }
.static-pages {
    margin-bottom: 60px;
}
.static-pages li {
    letter-spacing: 0.5px;
    font-size: 15px;
    text-align: justify;
    line-height: 26px;
}
.panel {
    padding: 0 12px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: 1px solid #ccc;
    border-width: 0px 1px 1px 1px;
}
    .static-pages p {
    letter-spacing: 0.5px;
    font-size: 15px;
    text-align: justify;
    line-height: 26px;
  }


.aoursto-box{
        display: flex;
        justify-content: space-between;
      }
      .aoursto-box-left{
        width: 50%;
        background-size: cover !important;
        background-position: center !important;
      }
      .righr{
        width: 50%;
        padding:60px 6%;
        background-color: #091D42;
        color:white;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .righr p{
        color:white;
        font-size: 14px;
      }

</style>


<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

   
 {% else %}


<div class="section-spacing section-spacing--tight">
  <div class="container container--{{ section.settings.page_width }}">
    <div class="section-stack">
      {%- if section.settings.show_title -%}
        <div class="section-header justify-self-center text-center">
          <h1 class="h2">{{ page.title }}</h1>
        </div>
      {%- endif -%}

      {%- if page.content != empty %}
        <div class="prose">
          {{- page.content -}}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

  {% endif %}
  
{% schema %}
{
  "name": "t:sections.main_page.name",
  "class": "shopify-section--main-page",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "t:sections.main_page.show_title",
      "default": true
    },
    {
      "type": "select",
      "id": "page_width",
      "label": "t:sections.main_page.page_width",
      "options": [
        {
          "value": "xs",
          "label": "t:global.sizes.x_small"
        },
        {
          "value": "sm",
          "label": "t:global.sizes.small"
        },
        {
          "value": "md",
          "label": "t:global.sizes.medium"
        },
        {
          "value": "lg",
          "label": "t:global.sizes.large"
        },
        {
          "value": "full",
          "label": "t:global.sizes.full_width"
        }
      ],
      "default": "xs"
    }
  ]
}
{% endschema %}