  <div class="hidden">
<div class="popup__wrapper {{ css_class }}" id="open">
  <div class="popup__inner is-flex is-align-center">
    <div>
      <div class="popup__header">
          <h3 class="popup__title title">NO SALES TAX</h3>
      </div>
    
            <p>We are located in Wyoming and do not charge sales tax unless you are shipping the order to Wyoming. This alone can save you hundreds of dollars compared to ordering elsewhere.</p>
            <p>Please Note: Some states require that taxpayers fill out a “use tax” return and pay the equivalent of a sales tax in their state. Please consult your state law to determine if you have to pay this tax.</p>
    </div>
  </div>

</div>
  </div>
<style>
 .hidden{display:none;}
 #open{max-width:480px;padding:20px;} 
</style>