<div id="CartDrawer" class="drawer fixed-overlay">
  <div class="fixed-overlay--content">
    <div class="drawer__header medium-down--hide">
      <div class="drawer__close">
        <button type="button" class="icon-fallback-text js-drawer-close">
          <svg><use xlink:href="#icon-close"></use></svg>
          <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
        </button>
      </div>
    </div>
    <div id="CartContainer"></div>
  </div>
</div>
