<svg tabindex="-1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" style="display: none;">

  <symbol id="icon-burger" width="23px" height="16px" viewBox="0 0 23 16">
    <rect x="0" y="0" width="23" height="1.44000006" rx="0.720000029"></rect>
    <rect x="0" y="7" width="23" height="1.44000006" rx="0.720000029"></rect>
    <rect x="0" y="14" width="23" height="1.44000006" rx="0.720000029"></rect>
  </symbol>

  <symbol id="icon-account" width="24px" height="24px" viewBox="0 0 24 24">
    <title>icon-account</title>
    <path d="M18.8,7.55 C18.8,3.78296326 15.9973061,0.7 12.5,0.7 C9.00269388,0.7 6.2,3.78296326 6.2,7.55 C6.2,11.3170367 9.00269388,14.4 12.5,14.4 C15.9973061,14.4 18.8,11.3170367 18.8,7.55 L18.8,7.55 Z M7.8,7.55 C7.8,4.63439126 9.92217388,2.3 12.5,2.3 C15.0778261,2.3 17.2,4.63439126 17.2,7.55 C17.2,10.4656087 15.0778261,12.8 12.5,12.8 C9.92217388,12.8 7.8,10.4656087 7.8,7.55 L7.8,7.55 Z"></path>
    <path d="M12,15.3000061 C5.53361059,15.3000061 0.2,18.9365588 0.2,23.6000061 L1.8,23.6000061 C1.8,19.9791822 6.31612492,16.9000061 12,16.9000061 C17.6838751,16.9000061 22.2,19.9791822 22.2,23.6000061 L23.8,23.6000061 C23.8,18.9365588 18.4663894,15.3000061 12,15.3000061 Z"></path>
  </symbol>

  <symbol id="icon-glass" width="14px" height="14px" viewBox="0 0 14 14">
    <title>icon-glass</title>
    <path d="M11.5,6 C11.5,2.96243388 9.03756612,0.5 6,0.5 C2.96243388,0.5 0.5,2.96243388 0.5,6 C0.5,9.03756612 2.96243388,11.5 6,11.5 C9.03756612,11.5 11.5,9.03756612 11.5,6 Z M1.5,6 C1.5,3.51471863 3.51471863,1.5 6,1.5 C8.48528137,1.5 10.5,3.51471863 10.5,6 C10.5,8.48528137 8.48528137,10.5 6,10.5 C3.51471863,10.5 1.5,8.48528137 1.5,6 Z"></path>
    <polygon points="12.4640067 12.690403 12.8163522 13.0451601 13.5258665 12.3404692 13.1735211 11.985712 10.3547572 9.14765452 10.0024117 8.79289733 9.29289733 9.4975883 9.64524282 9.85234548"></polygon>
  </symbol>

  <symbol id="icon-search" width="21" height="21" viewBox="0 0 21 21">
    <path d="M21,20.1710526 C21.0003238,19.9417609 20.9174291,19.7437346 20.7513158,19.5769737 L16.1230263,14.9486842 C17.0842671,13.8301809 17.7151881,12.5683388 18.0157895,11.1631579 L18.0157895,11.1493421 C18.1621145,10.4998561 18.2357987,9.8228824 18.2368421,9.11842105 C18.2371299,6.59570826 17.3437089,4.44044511 15.5565789,2.65263158 C13.7876182,0.884354441 11.6415656,0.000143914474 9.11842105,0 C6.59588816,0.000467722039 4.440625,0.884678248 2.65263158,2.65263158 C0.884678248,4.440625 0.000467722039,6.59588816 0,9.11842105 C0.000143914474,11.6415656 0.884354441,13.7876182 2.65263158,15.5565789 C4.44044511,17.3437089 6.59570826,18.2371299 9.11842105,18.2368421 C11.3594213,18.2373818 13.3028423,17.5327765 14.9486842,16.1230263 L19.5769737,20.7513158 C19.7437346,20.9174291 19.9417609,21.0003238 20.1710526,21 C20.4003084,21.0003238 20.5937294,20.9174291 20.7513158,20.7513158 C20.9174291,20.5937294 21.0003238,20.4003084 21,20.1710526 L21,20.1710526 L21,20.1710526 Z M14.3822368,3.82697368 C15.8463867,5.29043997 16.5786236,7.05425576 16.5789474,9.11842105 C16.5799907,9.70343339 16.5201223,10.2652755 16.3993421,10.8039474 C16.1022307,12.1546926 15.4344675,13.3428505 14.3960526,14.3684211 L14.3684211,14.3960526 C12.924815,15.8507042 11.174815,16.5783357 9.11842105,16.5789474 C7.05425576,16.5786236 5.29043997,15.8463867 3.82697368,14.3822368 C2.38077714,12.9367239 1.65775082,11.1821186 1.65789474,9.11842105 C1.65742701,7.05411184 2.38045333,5.29029605 3.82697368,3.82697368 C5.29029605,2.38045333 7.05411184,1.65742701 9.11842105,1.65789474 C11.1821186,1.65775082 12.9367239,2.38077714 14.3822368,3.82697368 L14.3822368,3.82697368 L14.3822368,3.82697368 Z"></path>
  </symbol>

  <symbol id="icon-cart" width="28px" height="23px" viewBox="0 0 28 23">
    <path d="M24.321498,15.7684741 L10.3560272,15.7684741 C9.33555092,15.7684741 8.44688329,15.0428329 8.24292679,14.0431685 L5.83707249,2.25358065 C5.76908699,1.92024357 5.47286444,1.6784788 5.13293693,1.6784788 L1.41836173,1.6784788 C1.02120152,1.6784788 0.699310982,1.35658826 0.699310982,0.959428054 C0.699310982,0.562267851 1.02120152,0.240377311 1.41836173,0.240377311 L5.13293693,0.240377311 C6.15341319,0.240377311 7.04173396,0.966018485 7.24603733,1.96568286 L9.65189163,13.7552708 C9.71987713,14.0886078 10.0160997,14.3303726 10.3560272,14.3303726 L24.3211511,14.3303726 C24.6777282,14.3303726 24.9840098,14.0639804 25.0332646,13.7108721 L26.4900968,3.2563668 C26.5449014,2.86336897 26.9070283,2.58934578 27.3014136,2.64380355 C27.6944114,2.69860819 27.9687814,3.06177564 27.9139768,3.45512033 L26.4571446,13.9096256 C26.3097271,14.9692976 25.3915759,15.7684741 24.321498,15.7684741 L24.321498,15.7684741 Z"></path>
    <path d="M11.3869094,22.47788 C10.8038296,22.47788 10.2335839,22.3113849 9.69143422,21.9832508 C9.39243675,21.8021874 9.13887858,21.5486292 8.95781515,21.2496318 C8.34733309,20.2412958 8.3029344,19.0716676 8.83849366,18.1205643 C9.35636281,17.2017195 10.3327872,16.63078 11.3865625,16.63078 C11.9696423,16.63078 12.539888,16.7972751 13.0820377,17.1254092 C13.3810352,17.3064726 13.6345933,17.5600308 13.8156568,17.8590283 C14.4261388,18.8677111 14.4705375,20.0373393 13.9346314,20.9880957 C13.4167622,21.9072874 12.4406847,22.47788 11.3869094,22.47788 L11.3869094,22.47788 L11.3869094,22.47788 Z M11.3869094,18.0688815 C10.8513501,18.0688815 10.3549866,18.3595542 10.0913693,18.8267811 C9.80971511,19.3266133 9.84474846,19.9384828 10.1877978,20.5052599 C10.248846,20.6065444 10.3348684,20.69222 10.4358061,20.7536151 C10.7500656,20.943697 11.069875,21.0404723 11.3869094,21.0404723 C11.9224686,21.0404723 12.4188322,20.7501464 12.6824494,20.2825727 C12.9641037,19.7827405 12.9290703,19.1705241 12.586021,18.603747 C12.5249728,18.5028094 12.4389503,18.4167869 12.3380127,18.3557387 C12.0234063,18.1653099 11.703597,18.0688815 11.3869094,18.0688815 L11.3869094,18.0688815 L11.3869094,18.0688815 Z"></path>
    <path d="M23.1764973,22.47788 C22.5934175,22.47788 22.0231718,22.3113849 21.4810221,21.9832508 C21.1820246,21.8021874 20.9284665,21.5486292 20.747403,21.2496318 C20.136921,20.2412958 20.0925223,19.0716676 20.6280816,18.1205643 C21.1459507,17.2017195 22.1223751,16.63078 23.1761504,16.63078 C23.7592302,16.63078 24.3294759,16.7972751 24.8716256,17.1254092 C25.1706231,17.3064726 25.4241812,17.5600308 25.6052447,17.8590283 C26.2157267,18.8677111 26.2601254,20.0373393 25.7242193,20.9880957 C25.2063501,21.9072874 24.2302726,22.47788 23.1764973,22.47788 L23.1764973,22.47788 L23.1764973,22.47788 Z M23.1764973,18.0688815 C22.640938,18.0688815 22.1445745,18.3595542 21.8809572,18.8267811 C21.599303,19.3266133 21.6343364,19.9384828 21.9773856,20.5052599 C22.0384339,20.6065444 22.1244563,20.69222 22.225394,20.7536151 C22.5396535,20.943697 22.8594628,21.0404723 23.1764973,21.0404723 C23.7120565,21.0404723 24.2084201,20.7501464 24.4720373,20.2825727 C24.7536916,19.7827405 24.7186582,19.1705241 24.3756089,18.603747 C24.3145607,18.5028094 24.2285382,18.4167869 24.1276006,18.3557387 C23.8129942,18.1653099 23.4931848,18.0688815 23.1764973,18.0688815 L23.1764973,18.0688815 L23.1764973,18.0688815 Z"></path>
    <path d="M26.9146593,6.37502827 L7.36119645,6.37502827 C6.96403625,6.37502827 6.6421457,6.05313773 6.6421457,5.65597753 C6.6421457,5.25881733 6.96403625,4.93692679 7.36119645,4.93692679 L26.9146593,4.93692679 C27.3118195,4.93692679 27.63371,5.25881733 27.63371,5.65597753 C27.63371,6.05313773 27.3114726,6.37502827 26.9146593,6.37502827 L26.9146593,6.37502827 Z"></path>
  </symbol>

  <symbol id="icon-dropdown" width="7px" height="6px" viewBox="0 0 7 6">
    <polygon id="triangle-big-1-01-3" points="0 0 6.875 0 3.4375 5.5"></polygon>
  </symbol>

  <symbol id="icon-close" viewBox="0 0 20 20">
    <polygon points="0.992600456 1.69970724 18.0422144 18.7493212 18.3957678 19.1028746 19.1028746 18.3957678 18.7493212 18.0422144 1.69970724 0.992600456 1.34615385 0.639047065 0.639047065 1.34615385"></polygon>
    <polygon points="18.3002928 0.992600456 1.25067881 18.0422144 0.89712542 18.3957678 1.6042322 19.1028746 1.95778559 18.7493212 19.0073995 1.69970724 19.3609529 1.34615385 18.6538462 0.639047065"></polygon>
  </symbol>

</svg>
