<span>


<svg id="Layer_1" style="margin-bottom: 10px;" height="50" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 787.19 779.52">
  <defs>
    <style>
      .cls-1 {
        fill: #758592;
        opacity: .6;
      }
    </style>
  </defs>
  <path class="cls-1" d="m787.19,389.76c0-18.24-32.6-33.97-35.12-51.58-2.57-17.98,24.27-42.25,19.24-59.34-5.08-17.35-40.78-23.27-48.22-39.52-7.5-16.46,11.32-47.28,1.63-62.38-9.75-15.15-45.65-10.74-57.4-24.32-11.79-13.58-2.36-48.48-15.99-60.28-13.58-11.79-46.76,2.52-61.96-7.29-15.04-9.7-15.78-45.86-32.24-53.36-16.25-7.44-44.08,15.62-61.48,10.54-17.09-5.03-28.04-39.52-46.02-42.09-17.61-2.52-37.79,27.47-56.03,27.47S355.17-2.37,337.61.15c-18.03,2.57-28.99,37.06-46.07,42.09-17.4,5.09-45.23-17.98-61.48-10.54-16.41,7.5-17.19,43.66-32.23,53.36-15.15,9.75-48.38-4.51-61.95,7.29-13.58,11.74-4.19,46.7-15.94,60.28-11.79,13.58-47.7,9.17-57.45,24.32-9.7,15.1,9.12,45.92,1.63,62.38-7.44,16.25-43.14,22.12-48.22,39.52-5.03,17.09,21.81,41.36,19.24,59.34-2.52,17.61-35.12,33.34-35.12,51.58s32.6,34.02,35.12,51.58c2.57,18.03-24.27,42.25-19.24,59.34,5.08,17.4,40.78,23.32,48.22,39.57,7.49,16.41-11.32,47.28-1.63,62.32,9.75,15.15,45.66,10.8,57.4,24.32,11.79,13.63,2.36,48.54,15.99,60.33,11.32,9.8,36.27,1.57,53.04,4.19,3.3.52,6.39,1.41,8.91,3.04,15.04,9.7,15.78,45.86,32.23,53.41,16.25,7.44,44.08-15.62,61.48-10.54,17.09,4.98,28.04,39.47,46.02,42.04,17.61,2.52,37.79-27.47,56.03-27.47s38.42,29.98,55.98,27.47c18.03-2.57,28.99-37.06,46.07-42.04,17.4-5.08,45.24,17.98,61.48,10.54,16.41-7.55,17.19-43.72,32.24-53.41,2.52-1.57,5.51-2.52,8.81-3.04,16.77-2.67,41.83,5.66,53.15-4.19,13.57-11.79,4.19-46.7,15.93-60.28,11.8-13.58,47.7-9.17,57.45-24.37,9.7-15.04-9.12-45.92-1.63-62.32,7.44-16.25,43.14-22.17,48.22-39.57,5.03-17.09-21.8-41.3-19.24-59.34,2.51-17.56,35.12-33.28,35.12-51.58Zm-556.62-85.67c-5.04,11.42-21.77,1.53-16.77-9.8,23.83-54.01,69.7-94.16,126.54-110.17,12.07-3.4,17.17,15.34,5.16,18.73-52.41,14.75-93.06,51.67-114.94,101.24Zm42.19,135.54c-21.76-12.36-2.17-45.9,19.6-33.54,26.83,15.24,50.57,33.32,71.74,54.91,30.29-71.69,67.53-139.68,126.79-192.17,18.66-16.53,46.21,10.85,27.46,27.46-62.7,55.54-99.06,129.05-129.35,205.83-4.76,12.06-22.23,21.09-32.45,8.57-24.03-29.44-50.63-52.22-83.79-71.06Zm83.64,205.17c-12.33-1.27-12.42-20.7,0-19.42,200.14,20.62,350.17-195.85,232.15-370.67-123.71-183.26-393.72-101.04-432.24,101.76-2.33,12.28-21.05,7.05-18.72-5.16,40.5-213.2,314.07-298.54,455.77-122.47,147.27,183-14.04,438.93-236.95,415.96Z"/>
<!--<text font-family="AvenirNext-Regular, Avenir Next" font-size="11" transform="translate(0 52)">
      <tspan x="0" y="11">Dermatologist-Approved</tspan>
    </text>-->
  </svg> 
  <div style="font-size: 11px;
  font-family: 'Avenir Next';
  text-transform: uppercase;
  color: #8d959c;
  line-height: normal;">
    <tspan x="0" y="11">Dermatologist-Approved</tspan>
  </div>
  </span>