<div class="kindnessgrant-terms-section">
    <div class="terms-wrap">
    {%- if block.settings.section-terms-text != blank -%}
        <p>{{ block.settings.section-terms-text | escape }}</p>
    {%- endif -%}
    </div>
</div>
