<div class="wrapper_press_filters">
  <div class="inner_press_filters">
    <span class="mobile_trigger_filter">Filter by: <span class="icon-plus" aria-hidden="true"></span></span>
    <ul class="list_press_filters">
      <li class="active all">
        <span>All</span>
      </li>
      <li data-action="sort">
        <span>Newest</span>
      </li>
      <li data-action="sort">
        <span>Oldest</span>
      </li>
      <li data-action="sort">
        <span>A-Z</span>
      </li>
    </ul>
  </div>
</div>
