{% comment %}

	The CLASSNAME on each "nav-subitem" has to include the ID from the collection page
	to allow the auto-expand of the sidebar nave to work correctly

{% endcomment %}

<nav>
  <ul>

    <h2><a href="/collections/happy-place-laundry-cleaning">50% Off Happy <br>Place Sale</a></h2>

   <li class="nav-item">
      <a href="/collections/happy-place-cleaning">Cleaning</a>
   </li>
    
   <li class="nav-item">
      <a href="/collections/happy-place">Laundry</a>
 

   </li>



    
    <!-- Holiday 2018  
    <!-- GIFTS
    <li class="nav-item">
      <a href="#">Gifts <i class="fal fa-angle-right"></i></a>
      <ul class="subnav hide">
        <li class="nav-subitem holiday-gifts-for-her"><a href="/collections/holiday-gifts-for-her">Gifts for Her</a></li>
        <li class="nav-subitem holiday-gifts-for-him"><a href="/collections/holiday-gifts-for-him">Gifts for Him</a></li>
        <li class="nav-subitem holiday-gifts-for-home"><a href="/collections/holiday-gifts-for-home">Gifts for Home</a></li>
        <li class="nav-subitem holiday-stocking-stuffers"><a href="/collections/holiday-stocking-stuffers">Stocking Stuffers</a></li>
        <li class="nav-subitem holiday-soap-sets"><a href="/collections/holiday-gifts-soap">Soap Sets</a></li>
        <li class="nav-subitem holiday-gifts"><a href="/collections/holiday-gifts">All Gift Sets</a></li>
      </ul>
    </li> -->

	<!-- BATH & BODY
    <li class="nav-item">
      <a href="#">Bath &amp; Body <i class="fal fa-angle-right"></i></a>
      <ul class="subnav hide">
        <li class="nav-subitem bath-shower"><a href="/collections/bath-body-bath-shower">Bath & Shower</a></li>
        <li class="nav-subitem mens-grooming"><a href="/collections/bath-body-mens-grooming">Mens/Grooming</a></li>
        <li class="nav-subitem soaps"><a href="/collections/bath-body-soaps">Soaps</a></li>
        <li class="nav-subitem moisturizers"><a href="/collections/bath-body-moisturizers">Moisturizers</a></li>
        <li class="nav-subitem snow-forest"><a href="/collections/bath-body-snow-forest">Snow Forest</a></li>
      </ul>
    </li> -->

	<!-- SKINCARE
    <li class="nav-item">
      <a href="#">Skincare <i class="fal fa-angle-right"></i></a>
      <ul class="subnav hide">
        <li class="nav-subitem replenishing-treatments"><a href="/collections/skincare-replenishing-treatments">Replenishment Treatments</a></li>
        <li class="nav-subitem lip-therapy"><a href="/collections/skincare-lip-therapy">Lip Therapy</a></li>
        <li class="nav-subitem anti-aging"><a href="/collections/skincare-anti-aging">Anti-Aging</a></li>
        <li class="nav-subitem cleansers"><a href="/collections/skincare-cleansers">Cleansers</a></li>
      </ul>
    </li> -->

	<!-- FOOD
    <li class="nav-item">
      <a href="#">Food <i class="fal fa-angle-right"></i></a>
      <ul class="subnav hide">
        <li class="nav-subitem cheese"><a href="/collections/food-cheese">Cheese</a></li>
        <li class="nav-subitem confectionary"><a href="/collections/food-confectionary">Confectionary</a></li>
        <li class="nav-subitem preserves-jelly"><a href="/collections/food-preserves-jelly">Preserves/Jelly</a></li>
        <li class="nav-subitem drizzles"><a href="/collections/food-drizzles">Drizzles</a></li>
      </ul>
    </li>
	-->
    
  </ul>
</nav>