<div class="product-reviews container">
  <div class="row">
    <div class="col-12">
      <h2>Product Reviews</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12">
      <!-- start_review_render_code_widget_section -->
        <div id="pr-reviewdisplay" style=""></div>
      <!-- end_review_render_code_widget_section -->
    </div>
  </div>
</div>
